.app{
     .container-acceuil{
        background-color: rgb(5, 5, 5);
        display: flex; color: black;
        justify-content: center;

        position: relative
        ;
        padding-bottom: 20px;
}
}